{% extends 'base.html' %}
{% load static %}
{% block title %}
Restaurants
{% endblock title %}
{% block body %}
    {% include 'hotelbooking/hero.html' with pagename="Blog" %}
    <section class="ftco-section bg-light">
        <!-- About 6 - Bootstrap Brain Component -->
  <section class="bsb-about-6 py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Blog</h2>
          <p class="text-secondary mb-5 text-center lead fs-4">Coming soon..</p>
          
        </div>
      </div>
    </div>
  

  </section>
</section>
{% endblock body %}
