{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

 {% block title %}
    Package	Booking
 {% endblock title %}

 
 {% block body %}

	
	{% include 'hotelbooking/hero.html' with pagename="Package Booking" %}
        <div class="container">
            <div class="row">
            <div class ="col-md-8 ">
            <form action="" method="post" >
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class ="btn btn-primary"> Booking</button>
            </form>

            </div>   
            </div>
        </div>
  

 {% endblock body %}