{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Booking
{% endblock title %}
{% block body %}
    {% include 'hotelbooking/hero.html' with pagename="Booking" %}
    <div class="container">
        <div class="row">
            <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5 col-md-12">
                <div class="ml-md-0">
                    <span class="subheading">Our team will call you for confirmation</span>
                    <h2 class="mb-4 text-center">Booking Form</h2>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="pb-4 mb-6 mt-3 mb-4 text-center">
                        <button type="submit" class ="btn btn-primary rounded-0 p-6">Booking</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
