{% extends 'base.html' %}
{% comment %} {% load dump_die %} {% endcomment %}
{% load static %}
{% comment %} {% dump packages %} {% endcomment %}


{% block title %}
    Package
{% endblock title %}
    

{% block body %}
    {% include 'hotelbooking/hero.html' with pagename="Package" %}




       <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
	        <div class="col-lg-9">
					
		    		<div class="row">
						
						{% if packages %}
						
							{% for package  in packages %}
									
									<div class="col-sm col-md-6 col-lg-4 ftco-animate">
										<div class="room">
											<a href="rooms-single.html" class="img d-flex justify-content-center align-items-center" style="background-image: url({{package.package_image.url}});">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3 text-center">
											<h3 class="mb-3"><a href="rooms-single.html">{{package.name}}</a></h3>
											<p><span class="price mr-2">${{package.price}}</span> <span class="per">per night</span></p>
											<ul class="list">
											{% comment %} <li><span>Max:</span> </li> {% endcomment %}
											{% comment %} <li><span>Size:</span> </li> {% endcomment %}
											<li><span> <b>Package item</b>  </span>{% for packageitem in package.package_item.all %}{{packageitem}} | <span> </span> {% endfor %}</li>
											{% comment %} <li><span>Bed:</span> {{room.room_bed}}</li> {% endcomment %}
											</ul>
											<hr>
											<p class="pt-1"><a href="room-single.html" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
											</div>
										</div>
									</div>
							{% endfor %}
							
							
							</div>
							
						{% else %}
							<h1>Dont have any Package</h1>
						{% endif %}
							
		    			
		    		
		    	</div>
	        </div>
		    </div>
    	</div>
    </section>

    
{% endblock body %}
    