{% extends 'base.html' %}
{% load static %}


{% block title %}
    Rooms
{% endblock title %}
    

{% block body %}
    {% include 'hotelbooking/hero.html' with pagename="Rooms" %}




       <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
	        <div class="col-lg-9">
					
		    		<div class="row">
						
						{% if rooms %}
							{% for room  in rooms %}
									<div class="col-sm col-md-6 col-lg-4 ftco-animate">
										<div class="room">{{ MEDIA_URL }} 
											<a href="rooms-single.html" class="img d-flex justify-content-center align-items-center" style="background-image: url({{room.room_image.url}});">
												<div class="icon d-flex justify-content-center align-items-center">
													<span class="icon-search2"></span>
												</div>
											</a>
											<div class="text p-3 text-center">
											<h3 class="mb-3"><a href="rooms-single.html">{{room.room_category}}</a></h3>
											<p><span class="price mr-2">${{room.room_price}}</span> <span class="per">per night</span></p>
											<ul class="list">
											<li><span>Max:</span> {{room.max_person}}</li>
											<li><span>Size:</span> {{room.room_size}}</li>
											<li><span>View:</span>{% for view in room.room_view.all %}{{view}} <span> </span> {% endfor %}</li>
											<li><span>Bed:</span> {{room.room_bed}}</li>
											</ul>
											<hr>
											<p class="pt-1"><a href="room-single.html" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
											</div>
										</div>
									</div>
							{% endfor %}
							
							
							</div>
							
						{% else %}
							<h1>Dont have any room</h1>
						{% endif %}
							
		    			
		    		
		    	</div>
		    	<div class="col-lg-3 sidebar">
	      		<div class="sidebar-wrap bg-light ftco-animate">
	      			<h3 class="heading mb-4">Advanced Search</h3>
	      			<form action="#">
	      				<div class="fields">
		              <div class="form-group">
		                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Check In Date">
		              </div>
		              <div class="form-group">
		                <input type="text" id="checkin_date" class="form-control checkout_date" placeholder="Check Out Date">
		              </div>
		              <div class="form-group">
		                <div class="select-wrap one-third">
	                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                    <select name="" id="" class="form-control">
	                    	<option value="">Room Type</option>
	                    	<option value="">Suite</option>
	                      <option value="">Family Room</option>
	                      <option value="">Deluxe Room</option>
	                      <option value="">Classic Room</option>
	                      <option value="">Superior Room</option>
	                      <option value="">Luxury Room</option>
	                    </select>
	                  </div>
		              </div>
		              <div class="form-group">
		                <div class="select-wrap one-third">
	                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                    <select name="" id="" class="form-control">
	                    	<option value="">0 Adult</option>
	                    	<option value="">1 Adult</option>
	                      <option value="">2 Adult</option>
	                      <option value="">3 Adult</option>
	                      <option value="">4 Adult</option>
	                      <option value="">5 Adult</option>
	                      <option value="">6 Adult</option>
	                    </select>
	                  </div>
		              </div>
		              <div class="form-group">
		                <div class="select-wrap one-third">
	                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                    <select name="" id="" class="form-control">
	                    	<option value="">0 Children</option>
	                    	<option value="">1 Children</option>
	                      <option value="">2 Children</option>
	                      <option value="">3 Children</option>
	                      <option value="">4 Children</option>
	                      <option value="">5 Children</option>
	                      <option value="">6 Children</option>
	                    </select>
	                  </div>
		              </div>
		              <div class="form-group">
		              	<div class="range-slider">
		              		<span>
										    <input type="number" value="25000" min="0" max="120000"/>	-
										    <input type="number" value="50000" min="0" max="120000"/>
										  </span>
										  <input value="1000" min="0" max="120000" step="500" type="range"/>
										  <input value="50000" min="0" max="120000" step="500" type="range"/>
										  </svg>
										</div>
		              </div>
		              <div class="form-group">
		                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
		              </div>
		            </div>
	            </form>
	      		</div>
	      		<div class="sidebar-wrap bg-light ftco-animate">
	      			<h3 class="heading mb-4">Star Rating</h3>
	      			<form method="post" class="star-rating">
							  <div class="form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">
										<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
									</label>
							  </div>
							  <div class="form-check">
						      <input type="checkbox" class="form-check-input" id="exampleCheck1">
						      <label class="form-check-label" for="exampleCheck1">
						    	   <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
						      </label>
							  </div>
							  <div class="form-check">
						      <input type="checkbox" class="form-check-input" id="exampleCheck1">
						      <label class="form-check-label" for="exampleCheck1">
						      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
						     </label>
							  </div>
							  <div class="form-check">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
						      <label class="form-check-label" for="exampleCheck1">
						      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
						      </label>
							  </div>
							  <div class="form-check">
						      <input type="checkbox" class="form-check-input" id="exampleCheck1">
						      <label class="form-check-label" for="exampleCheck1">
						      	<p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
							    </label>
							  </div>
							</form>
	      		</div>
	        </div>
		    </div>
    	</div>
    </section>

    
{% endblock body %}
    